<%- include('layouts/header') %>
<body>
    <%- include('layouts/menu') %>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5">
                <h1 class="text-center">Edit Student Record</h1>
                <form action="/add-file" method="post" enctype="multipart/form-data">
                  
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Upload File</label>
                        <input type="file" name="my_file" class="form-control"  >
                      </div>
                      
                      <input type="submit" value="Upload File" class="btn btn-primary mt-3">
                </form>
            </div>
        </div>
    </div>
</body>
</html>